.container {
    display: flex;
    flex-wrap: wrap;
    background: yellow;
    border: 1px solid;
    width: 100%;
    padding: 5px;
    gap: 0px;
}

.bloco {
    display: flex;
    width: 100%;
    background: blue;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    background: #f0f0f0;
    cursor: pointer;
    aspect-ratio: 1/1;
    font-size: 4vw;
}

.cor {
  color: red;
}

.rodape {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid;
    background: hwb(0 58% 41%);
    width: 100%;
    height: 100%;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
}

.card2 {
    display: flex;
    width: 100%;
    height: 20px;
    cursor: pointer;
    font-size: 12px;
}

.cor2 {
    color: blue;
}

.voltar{
    position: absolute;
    font-size: 15px;
    color: black;
    font-weight: bold;
    right: 2%;
    /*transform: translate(2%, 5%);*/
}

.titulo {
    display: flex;
    justify-content: center;
    color: red;
    margin-top: 5px;
}

.ajuda_cruzadas {
    display: flex;
    justify-content: center;
    padding: 10px;
}