body{
    background: rgb(97, 93, 93);
}

h1{
    text-align: center;
    font-style: italic;
    color: black;
}

.container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
    background: rgb(44, 156, 100);
}

img {
    width: 200px;
    height: 150px;
    object-fit: contain;
}

.liquigas, .consigas, .nacional, .klarina {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* pai relativo */
    width: 50%;
    height: 50%;
    /*border: 2px solid black;*/
    
}

.liquigas {
    position: absolute;
    top: 0;
    left: 0;
}

.rodapeLiquigas {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20%; /* embaixo */
    background: rgba(0,0,0,0.5);
    color: white;
}

.consigas {
    position: absolute;
    top: 0;
    right: 0;
}

.rodapeConsigas {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 17%; /* embaixo */
    background: rgba(0,0,0,0.5);
    color: white;
}

.nacional {
    position: absolute;
    left: 0;
    bottom: 0;
}

.rodapeNacional {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 19%; /* embaixo */
    background: rgba(0,0,0,0.5);
    color: white;
}

.klarina {
    position: absolute;
    right: 0;
    bottom: 0;
}

.rodapeKlarina {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 15%; /* embaixo */
    background: rgba(0,0,0,0.5);
    color: white;
}

.voltar{
    position: absolute;
    font-size: 15px;
    color: black;
    font-weight: bold;
    right: 5%;
    top: 2%;
    transform: translate(2%, 5%);
}