.container {
    display: flex;
    flex-wrap: wrap;
}

.voltar a {
  display: flex;
  justify-content: end;
}

.caixa1 {  
    width: 100%;
    color: black;
    font-weight: bold;
}

.caixa1:hover, .caixa2:hover, .caixa3:hover, .equipe:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}

.caixa1 img {
  width: 100%;
  height: auto; /* mantém proporção */
  object-fit: cover; /* preenche o espaço (crops se necessário) */
}

.caixa2, .caixa3 {
    background-color: aqua;  
    padding: 10px;
    margin: 5px;
    width: 100%;
    border: 10px solid rgba(11, 7, 27, 0.699);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(8, 1, 34, 1);
    color: black;
}

.equipe {
  display: flex;
  justify-content: space-around; /* centraliza horizontalmente */
  background: yellow;
  width: 100%;
  border: 10px solid rgb(105, 79, 7);
  border-radius: 10px;
}

.item {
  display: flex;
  flex-direction: column; /* empilha imagem e texto */
  justify-content: space-around;
}

.item img {
  display: flex;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 7px;
  width: 120px; /* ajuste o tamanho */
  height: 120px;
}

.item p {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}