* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: hwb(240 87% 10%);
}

.menu a {
  margin: 0 15px; /* 0 em cima/baixo, 15px nos lados */
}

.menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
  }

.card1, .card3 {
    display: flex;
    flex-grow: 1;
    /* ocupam o mesmo espaço */
    width: 1px;
}

.card2 {
    display: flex;
    flex-grow: 3;
    /* o dobro do espaço dos outros */
    width: 200px;
}

.card1 img, .card2 img, .card3 img, .card4 img, .card5 img, .card6 img, .card7 img {
    width: 100%;
}

.card8 {
    position: absolute;
    width: 150px;
    height: 60px;
    transform: rotate(-45deg);
    left: 0px;
    font-size: 18px;
    color: red;
    font-weight: bold;
  }
  
.cabecalho {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    /*border: 1px solid;*/
}

.meio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
}

.rodape {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px;
}

.contato {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.atendimento {
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    margin: 10px;
}

.container {
  display: flex;
  flex-direction: column; /* empilha os cards */
  align-items: center; /* centraliza os cards*/
}

.top-container {
  display: flex;
  text-align: center;
  gap: 10px; /* espaço entre cards pequenos */
  margin-bottom: 10px; /* espaço para o card grande */
}

.small-card {
    border: 3px solid black;
    font-size: 14px;
    color:blue;
    width: 150px;
    height: 100%;
    background: #ccc; /* só para visualizar */
}

.big-card {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 17px;
  color: red;
  border: 3px solid black;
  flex-wrap: wrap;
  width: 310px;
  height: 100%;
  background: blue; /* só para visualizar*/ 
}

.card1, .card3 {
    display: flex;
    flex-grow: 1;
    /* ocupam o mesmo espaço */
    width: 10px;
}

.card2 {
    display: flex;
    flex-grow: 3;
    /* o dobro do espaço dos outros */
    width: 200px;
}

.card1 img, .card2 img, .card3 img, .card4 img, .card5 img, .card6 img, .card7 img {
    width: 100%;
}  /*Essa modificação que está mostrando já fiz alteração direto no github*/

.card8 {
    position: absolute;
    width: 150px;
    height: 60px;
    transform: rotate(-45deg);
    left: 0px;
    font-size: 18px;
    color: red;
    font-weight: bold;
}

.card5 {
    width: 115px;
    height: 100px;
}

.card6, .card7 {
    width: 240px;
    height: 45px;
}

.direita {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card5, .card6, .card7 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coluna0, .coluna1, .coluna2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.coluna0 {
    width: 120;
}

.coluna1, .card {
    width: 140px;
    border: 1px solid #ccc;
    font-size: 20px;
}

.coluna2 .card {
    width: 180px;
    border: 1px solid #ccc;
}

.fechado {
    color: red;
    font-weight: bold;
    /* opcional: deixa em negrito */
}